/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Tomas' Styles - Ratings & Reviews */
.ratings-reviews{
	border: 2px solid black;
}
.review-list{
	border: 2px solid blue;
	width: 60%;
}
.review-cont{
	border-bottom: 5px solid purple;
	padding-bottom: 10px;
}
.topbar-cont{
	border: 2px solid green;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin-bottom: 5px;
}
.review-stars{
	border: 2px solid orange;
	display: inline-flex;
	justify-content: flex-start;
	flex-basis: 50%;
}
.review-username{
	border: 2px solid orange;
	display: inline-flex;
	flex-basis: 20%;
	text-align: left;
}
.review-date{
	border: 2px solid orange;
	display: inline-flex;
	flex-basis: 20%;
	text-align: left;
}
.review-summary{
	border: 2px solid green;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 1.5rem;
	overflow-wrap: break-word;

}
.review-body{
	border: 2px solid green;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 0.90rem;
	overflow-wrap: break-word;
}
.recommended-tag{
	border: 2px solid green;
	padding: 5px;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 0.90rem;
}
.seller-response{
	border: 2px dotted green;
	padding: 5px;
	margin-bottom: 5px;
	/* font-weight: 400; */
	font-size: 0.90rem;
	overflow-wrap: break-word;
}
.helpful-counter{
	border: 2px solid green;
	padding: 5px;
	display: inline-block;
	margin-bottom: 5px;
}

/* AZ Components */
.rating-container {
	box-sizing: border-box;
}
.star {
	color: #f4f135;
	transition-timing-function: ease-in;
}
.dark {
	color: grey;
}