/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Tomas' Styles - Ratings & Reviews */
#reviews{
	height: 900px;
}
.widget-title{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 1.2em;
	font-weight: 400;
}
.ratings-reviews{
	padding: 5px;
	margin-bottom: 50px;
}
.ratings-reviews-cont{
	display: flex;
}
.review-list{
	border: 2px doted black;
	width: 60%;
	display: inline-block;
}
.sort-btn{
	margin-bottom: 5px;
	display: inline-block;
}
.review-cont{
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-top: 25px;
}
.topbar-cont{
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.review-stars{
	display: inline-flex;
	justify-content: flex-start;
	flex-basis: 50%;
}
.star {
	color: yellowgreen;
}
.dark {
	color: black;
}
.review-username{
	display: inline-flex;
	flex-basis: 20%;
	text-align: left;
}
.review-date{
	display: inline-flex;
	flex-basis: 20%;
	text-align: left;
}
.review-summary{
	padding: 5px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 1.5rem;
	overflow-wrap: break-word;

}
.review-body{
	padding: 5px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 1rem;
	overflow-wrap: break-word;
}
.recommended-tag{
	padding: 5px;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 0.90rem;
}
.seller-response{
	padding: 5px;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 0.90rem;
	overflow-wrap: break-word;
}
.helpful-counter{
	padding: 5px;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 0.8rem;
}
.helpful-yes:hover {
	cursor: pointer;
}
.ratings-breakdown-col {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: auto;
	margin-right: 70px;
}
.ratings-avg{
	width: 100%;
	height: 90px;
	display: flex;
	margin-bottom: 12px;
}
.ratings-breakdown{
	width: 100%;
	height: 200px;
	display: flex;
}
.load-reviews-btn{
	margin: 20px 0;
	background-color: rgba(255, 255, 255, 0);
	border: 0.5px solid black;
	height: 30px;
	width: 150px;
}
.write-review-btn{
	margin: 20px 0;
	margin-left: 20px;
	background-color: rgba(255, 255, 255, 0);
	border: 0.5px solid black;
	height: 30px;
	width: 120px;
}

.product-breakdown{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
}
.average-cont{
	display: flex;
	align-items: flex-start;
}
.num-average{
	font-size: 4.5em;
	font-weight: 600;
	display: inline-flex;
	margin-right: 10px;
}
.stars-average{
	display: inline-flex;
}
.ratings-breakdown-cont{
	width: 100%;
}
.ratings-cont{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2px 0;
	margin-bottom: 15px;
	border-radius: 2px;
}
.ratings-cont:hover{
	cursor: pointer;
	background-color: rgb(215, 222, 230);
}
.text-rating{
	width: 50px;
	height: 15px;
	font-size: 15px;
	display: inline-block;
	text-decoration: underline;
}
.text-rating-count{
	width: 68px;
	height: 15px;
	font-size: 15px;
	display: inline-block;
	text-decoration: underline;
}
.star-ratings-bar{
	margin: 2.5px 0;
	height:	10px;
	width: 170px;
	background-color: rgb(205, 205, 205);
	display: block;
}
.breakdown-bar-cont{
	margin-bottom: 25px;
	font-size: 15px;
}
.product-breakdown-bar{
	height: 10px;
	width: 100%;
	background-color: rgb(205, 205, 205);
	margin-top: 8px;
}
/* .marker{
	height: 12px;
	width: 6px;
	background-color: rgb(75, 75, 75);
} */
.size-breakdown{
	width: 60px;
}
.width-breakdown{
	width: 60px;
}
.comfort-breakdown{
	width: 60px;
}
.quality-breakdown{
	width: 60px;
}
.length-breakdown{
	width: 60px;
}
.fit-breakdown{
	width: 60px;
}
.definition-cont{
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}
.definition-text{
	font-size: 0.8rem;
}

.write-review-form{
	position: fixed;
	width: 470px;
	height: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f5f5f5;
	padding: 50px;
	z-index: 1000;
	background-color: #ffffff;
}
.write-review-background{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(48, 46, 46, 0.509);
	z-index: 1000;
}
.form-content-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn-close-x{
	font-size: 35px;
	width: 20px;
	font-weight: 200;
	/* margin-bottom: 10px; */
	margin-left: auto;
}
.btn-close-x:hover{
	font-weight: 500;
	cursor: pointer;
}
.write-review-title{
	margin: 10px 0;
	font-size: 1.8rem;
	font-weight: 600;
}
.write-review-productname{
	margin: 10px 0;
	font-size: 1.2rem;
	font-weight: 500;
}
.write-rev-star-cont{
	margin: 10px 0;
}
.write-rev-recommend{
	margin: 10px 0;
}
.rec-yes-btn{
	margin: 0 10px;
}
/* .rec-no-btn{
} */
.write-rev-charac-cont{
	margin: 10px 0;
}
.write-rev-charac-title{
	text-decoration: underline;
	margin-bottom: 10px;
}
.write-rev-charac-text{
	font-size: 0.9rem;
	margin: 5px 0;
}
.radio-btn-cont{
	margin-bottom: 15px;
}
.radio-btn{
	margin-right: 18px;
}
.review-sum-box{
	width: 300px;
	height: 25px;
}
.review-body-box{
	width: 300px;
	height: 120px;
}
.review-nickname-box{
	width: 200px;
	height: 25px;
}


.q-a-header{
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 5px;
font-size: 20px;
}

.q-a-div{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(96,96,96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 10px;
  height: 550px;
	overflow: scroll;
}
.search-bar{
    background-color:#fffbf8;
    padding:13px;
    width:100%;
    margin:10px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}

.question-single{
  background-color:#fffbf8;
    padding:13px;
    width:100%;
    margin:10px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:1px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;


}
.question-line{
  display: flex;
  padding-bottom: 20px;
}
.question-body{
  color: rgb(64,64,64);
  flex: 5;
  margin-right: 20px;
  font-weight: bold;
}
.question-author-date{
font-size: 12px;
color: rgb(96,96,96);
padding-top: 10px;
padding-bottom: 20px;
}
.helpful-count{
  font-size: 10px;
  color: rgb(96,96,96);
  margin-left: auto;
  flex: 1;
  padding-right: 5px;
  cursor:pointer;
}
.helpful-count:hover{
  text-decoration: underline;
}
.clicked{
	font-size: 10px;
  color: rgb(96,96,96);
  margin-left: auto;
  flex: 1;
  padding-right: 5px;
}
.report{
  font-size: 10px;
  color: rgb(96,96,96);
  padding-left: 15px;
  cursor:pointer;
}
.report:hover{
  text-decoration: underline;
}
.add-answer{
  font-size: 10px;
  text-decoration: underline;
  color: rgb(96,96,96);
  margin-left: auto;
  flex: 1;
  cursor: pointer;
}
.add-answer:hover{
  font-weight: bold;
}
.answer-user-line{
	display:flex;
	padding-top: 10px;
  margin-bottom: 20px;
	padding-left: 23px;
	align-items: flex-end;
}
.answer-user{
  font-size: 13px;
  color: rgb(96,96,96);
  padding-right: 5px;
}
.answer-user-by{
	font-size: 13px;
	color: rgb(96,96,96);
	padding-right:5px;
}
.answer-user-seller{
	font-size: 13px;
  color: rgb(96,96,96);
	padding-right: 5px;
	font-weight: bold;
}
.answer-helpful{
  font-size: 10px;
  color: rgb(96,96,96);
	cursor: pointer;

}
.answer-helpful:hover{
  text-decoration: underline;
}
.a-h-clicked{
	font-size: 10px;
  color: rgb(96,96,96);
}
.load-more{
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  cursor: pointer;
}
.load-more:hover{
  text-decoration: underline;
  font-weight: bold;
}
.answer-body{
  padding-bottom: 10px;
	color: rgb(96,96,96);
	margin-top:10px;
}

.two-buttons{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   flex-direction: row;
	 font-weight: 100;
	 justify-content: center;
   padding: .35em 1.2em;
   border:0.1em solid lightgrey;
   margin:0 0.3em 0.3em 0;
   text-align: center;
   transition: all .2s;
   cursor: pointer;
   width: 200px;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
   border-radius:1px;
   -webkit-box-shadow:
       0 2px 4px 0 rgba(72, 72, 72, 0.83),
       0 10px 15px 0 rgba(126, 126, 126, 0.12),
       0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
       0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
   -moz-box-shadow:
       0 2px 4px 0 rgba(72, 72, 72, 0.83),
       0 10px 15px 0 rgba(126, 126, 126, 0.12),
       0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
       0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
   box-shadow:
       0 2px 4px 0 rgba(72, 72, 72, 0.83),
       0 10px 15px 0 rgba(126, 126, 126, 0.12),
       0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
       0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.two-buttons:hover{
  background-color: rgb(211,211,211);
  color: black;
}


/* /////////////////////////////////////////////// */

.box{
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	align-items: center;

}

.card{
	min-width:250px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	flex-shrink: 4;
	margin:5px;
}


.add-card {
  display: block;
	width:250px;
	height: 500px;
	text-align: center;
	border-radius: 10px;
	margin:5px;
	position: relative;

}

.outfit-section {
	min-width: 1000px;
	min-height: 700px;

}

.action-btn {
	min-width: 100px;
	min-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#252525;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-family: calibri;
	padding: 10px;
	margin-right: 30px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.related-product {
	margin: 0%;
	padding: 0%;
	border-style: solid;
  border-width: 2px;
  border-color: rgb(96,96,96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
	padding: 10px;
	margin-bottom: 3px;
}

.action-btn:hover {
background-color: floralwhite;
}

.delete-btn {
	margin-top: 0%;
	min-width: 50px;
	min-height: 25px;
	margin-left: 82%;
	font-weight: 700;
	padding: 10px;
	background-color: red;
}

.fa-btn {
	height: 60px;
	width: 40px;
}

.fa-btn-circle {
	height: 150px;
	width: 80px;
	margin: 35%;
}

.detail {
	font-weight: 700;
	margin-bottom: 5px;
}
.container {
	width: 80%;
	margin: auto;
}
.container-vert {
	display: flex;
	flex-direction: column;
	margin: 0;

}
.container-horz {
	display: flex;
}
.product-information {
	height: 200px;
	width: 100%;
	margin: 0px 5px;
	margin-top: 10px;
}
.strike-through {
	text-decoration: line-through;
}
.sale-price {
	font-weight: bold;
	color: red;
}
.infos {
	width: 40%;
	margin-right: 20px;
}
.link {
	cursor: pointer;
	text-decoration: underline;
}
.style-select {
	margin: 10px 5px;
	height: auto;
	margin-bottom: 20px;
	width: 100%;
}
.style-select h5 {
	font-size: 1.1rem;
	font-weight: 300;
}
.add-to-bag {
	margin: 0px 5px;
	height: 170px;
	width: 100%;
}
.product-details {
	margin: 0px 20px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slogan-description {
	width: 50%;
}
.product-features {
	width: 28%;
}
.style-thumbnail {
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	border-radius: 100%;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	margin: 5px;
	margin-top: 5px;
}
.style-thumbnail:hover {
	transform: scale(1.1);
	transition-timing-function: ease;
	transition: 0.1s;
}

.style-gallery {
	flex-wrap: wrap;
	width: 350px;
	/* margin: auto; */
}
.selected {
	border: 5px solid red;
}
.image-gallery {
	/* border: 2px solid blue; */
	margin: 10px 20px;
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
  background-size: cover;
	background-origin: border-box;
  background-position: center top;
}
.image-gallery-thumbnail-container {
	width: 100px;
	height: 600px;
	margin-left: 10px;
	margin-top: 80px;
}
.image-gallery-arrow-icon {
	width: 100px;
	height: 78px;
	padding-left: 10px;

}
.image-gallery-arrow-icon:hover {
	transform: scale(1.1);
	transition-timing-function: ease;
	transition: 0.1s;
}
.image-thumbnail {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center ;
	cursor: pointer;
	margin: 10px 0;
	box-sizing: border-box;
}
.image-thumbnail:hover {
	transform: scale(1.1);
	transition-timing-function: ease;
	transition: 0.1s;
}
.image-gallery-left-arrow {
	position: relative;
	top: 400px;
	left: 100px;
}
.image-gallery-right-arrow {
	position: relative;
	top: -40%;
	left: 95%;
}
.image-gallery-expand {
	position: relative;
	top: 20px;
	left: 94%;
	/* border: 1px solid black; */
}
.portal-image {
	margin: auto;
	height: 100%;
	width: 100%;
}
.portal-image > img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

select {
	display: inline;
	width: 100%;
	height: 50px;
}

.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	cursor: pointer;
	padding: 5px 20px;
	width: 100%;
	height: 50px;

}
.alert {
	height: 50px;
	text-align: center;
	padding-top: 20px;
}
.danger {
	background-color: red;
}
.success {
	background-color: greenyellow;
}

.product_info{
	border: solid 10px;
	margin-left: 20%;
	min-width: 300px;
	min-height: 200px;
	max-width: 600px;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
	justify-content: space-between;
	background-color: #d8e3e7;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	font-size: large;
}

.main{
	margin-bottom: 25px;

}

h2{
	font-size: xx-large;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}


.left-arrow{
	cursor: pointer;
	display: block;
	float: left;
	position: relative;
	top: 20rem;
	z-index: 1;

}

.right-arrow{
	cursor: pointer;
	display: block;
	float: right;
	position: relative;
	top: 20rem;
	z-index: 1;

}

.outfit{
	min-width:120px;
	min-height: 40px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
}


table, th, td {
  border: 1px solid black;

}

table {
	margin-top: 10px;
	width: 100%;
}

th {
	text-align: center;
	height: 30px;
	vertical-align: middle;
	background-color: aquamarine;
	font-weight: bold;
	font-size: larger;
}

td {
	vertical-align: baseline;
}

th, td {
  padding: 15px;
  text-align: left;
}

.star-btn {
	margin-left: 20%;
	min-width: 70px;
	min-height: 30px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.add-question-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
  border-radius: 10px;
}
.form-label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 12px;
}
.form-headings{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	font-size: 15px;
	text-align: center;
	margin: 20px;
	display: block;

	text-align: center;
	margin: 20px;
}
.form-headings-question{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 15px;
	padding: 10px;
	font-weight: bold;
}
.form-headings-all{
  padding: 15px;
}
.addQuestionForm {
	margin-top:15px;
}

.addQInputs{
  display: block;
  padding: 10px;
  background-color:#fffbf8;
    padding:13px;
    width:100%;
    margin:10px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:1px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow:
        0 2px 4px 0 #484848d4,
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.overlay-styes{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}
.thumbnail {
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 5px;
  width: 105px;
  height: 75px;
	display:inline-block;/* makes it fit in like an <img> */
}

.privacy{
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.error {
  color: red;
  font-size: 0.7rem;
	margin: 10px, 0px, 15px, 0px
}

#num-items-cart {
	position: relative;
	left: -50px;
	top: -39px;
	color: black;
	font-weight: bold;
	margin: 20px 0;
}
.cart-container {
	margin-top: 10px;
	cursor: help;
}
.header {
	background-color: grey;
	display: flex;
	justify-content: space-between;
}
.footer {
  height: 100px;
  margin-top: 30px;
}

.share-on-socials {
	width: 100%;
	height: auto;
}
.share-on-socials > button {
	size: 1rem;
}
.share-on-socials > button:hover {
	transform: scale(1.1);
	transition-timing-function: ease;
	transition: 0.1s;
}

 h3 {
	font-size: 2.7rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}
 h4 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;
}
 h5 {
	font-size: 1rem;
	margin-bottom: 5px;
}
.bold {
	font-weight: bold;
}

.bubble:hover {
	transform: scale(1.15);
	transition-timing-function: ease;
	transition: 0.1s;
}
