/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* AZ Components */
.rating-container {
	box-sizing: border-box;
}
.star {
	color: #f4f135;
	transition-timing-function: ease-in;
}
.dark {
	color: grey;
}
.container {
	border: 2px dotted grey;
	width: 80%;
	margin: auto;
}
.container-vert {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.container-horz {
	display: flex;
}
.product-information {
	height: 150px;
	width: 100%;
	border: 2px solid black;
	margin: 0px 5px;
	margin-top: 10px;
}
.link {
	cursor: pointer;
	text-decoration: underline;
}
.image-gallery {
	border: 2px solid blue;
	margin: 10px 20px;
	width: 800px;
	height: 800px;
	background-repeat: no-repeat;
  background-size: cover;
	background-origin: border-box;
}
.style-select {
	border: 2px solid green;
	margin: 10px 5px;
	height: 300px;
	width: 100%;
}
.add-to-bag {
	border: 2px solid red;
	margin: 0px 5px;
	height: 170px;
	width: 100%;
}
.product-details {
	border: 2px solid black;
	margin: 0px 20px;
	height: 200px;
}
.style-thumbnail {
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	border-radius: 100%;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	margin: 5px;
}
.style-gallery {
	flex-wrap: wrap;
	width: 350px;
	margin: auto;

}
.selected {
	border: 5px solid red;
}
.image-gallery-thumbnail-container {
	width: 100px;
	height: 600px;
	margin-left: 20px;
	margin-top: 80px;
}
.image-thumbnail {
	width: 100px;
	height: 100px;
	background-size: cover;
	cursor: pointer;
	margin: 10px 0;
}